html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#footer2 {
    background-color: #3185FC;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }
